In [31]:
import pandas as pd

In [32]:
#Read the file from GitHub raw
BEA_cross_df=pd.read_csv('https://raw.githubusercontent.com/jakatz87/Final_Group_Project/main/outdoor_rec_BEA_data_pull.csv')
BEA_cross_df.head(10)

,GeoName,LineCode,Description,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Alabama,1,Total Outdoor Recreation,3807374,3886358,3881184,3987073,4085363,4226937,4450364,4605097,4166573,5028892
1,Alabama,2,Total Core Outdoor Recreation,2065590,2139978,2142642,2205932,2253928,2350128,2425391,2504979,2496455,2776879
2,Alabama,3,Conventional Outdoor Recreation,1422123,1474936,1475274,1534439,1582240,1662153,1666901,1703414,1832269,2001314
3,Alabama,4,Bicycling,12660,13251,13137,13049,13048,14170,13435,14073,17276,19091
4,Alabama,5,Boating/Fishing,215849,217589,222706,238993,269961,296761,305603,326285,490274,405721
5,Alabama,6,Canoeing/Kayaking,6983,5656,5555,5584,5739,6186,5930,6728,11188,22180
6,Alabama,7,Fishing (excludes Boating),51103,52601,54528,63486,87894,100606,102056,97926,93868,104025
7,Alabama,8,Sailing,16265,17376,18424,18858,20469,21189,22450,26973,18958,19254
8,Alabama,9,Other Boating,141498,141957,144200,151066,155858,168779,175167,194658,366259,260262
9,Alabama,10,Climbing/Hiking/Tent Camping,39177,39861,40821,40569,39146,38759,39580,41797,44494,61791

In [33]:
#Keep only the Gubmint Expenses as data
BEA_cross_df=BEA_cross_df[BEA_cross_df['Description']=='   Government Expenditures ']
BEA_cross_df.head(10)

,GeoName,LineCode,Description,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
43,Alabama,44,Government Expenditures,197210,209690,220662,229060,249586,261420,270939,269117,282616,310347
89,Alaska,44,Government Expenditures,76803,84429,90094,97989,108667,114427,122910,119480,124424,139082
135,Arizona,44,Government Expenditures,386583,426882,445864,475043,493474,516519,542143,541020,554363,592774
181,Arkansas,44,Government Expenditures,145929,156430,161631,167361,171633,173445,177039,170515,173614,190570
227,California,44,Government Expenditures,2779588,2790242,2817304,2802484,3017853,3222411,3331340,3248535,3367605,3654322
273,Colorado,44,Government Expenditures,568335,586706,607709,617820,685891,789345,887881,926516,953823,1034161
319,Connecticut,44,Government Expenditures,139311,147599,154708,159055,154264,148680,145438,151814,160154,169307
365,Delaware,44,Government Expenditures,31547,34528,36660,38960,39413,39464,39769,41637,44148,48840
411,District of Columbia,44,Government Expenditures,211661,244185,245981,264285,287813,315441,343735,297370,290111,296823
457,Florida,44,Government Expenditures,1233208,1333858,1394757,1465188,1530785,1583621,1623368,1647033,1738239,1888853

In [37]:
#Change the states to the abbreviations
state_dict = {'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 
              'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA',
              'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 
              'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 
              'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 
              'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 
              'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 
              'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 
              'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 
              'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 
              'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY', 'District of Columbia': 'DC'}
BEA_cross_df['State']=BEA_cross_df['GeoName'].map(state_dict)
BEA_cross_df=BEA_cross_df.drop(['GeoName'], axis=1)
BEA_cross_df.head(10)

,LineCode,Description,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,State
43,44,Government Expenditures,197210,209690,220662,229060,249586,261420,270939,269117,282616,310347,AL
89,44,Government Expenditures,76803,84429,90094,97989,108667,114427,122910,119480,124424,139082,AK
135,44,Government Expenditures,386583,426882,445864,475043,493474,516519,542143,541020,554363,592774,AZ
181,44,Government Expenditures,145929,156430,161631,167361,171633,173445,177039,170515,173614,190570,AR
227,44,Government Expenditures,2779588,2790242,2817304,2802484,3017853,3222411,3331340,3248535,3367605,3654322,CA
273,44,Government Expenditures,568335,586706,607709,617820,685891,789345,887881,926516,953823,1034161,CO
319,44,Government Expenditures,139311,147599,154708,159055,154264,148680,145438,151814,160154,169307,CT
365,44,Government Expenditures,31547,34528,36660,38960,39413,39464,39769,41637,44148,48840,DE
411,44,Government Expenditures,211661,244185,245981,264285,287813,315441,343735,297370,290111,296823,DC
457,44,Government Expenditures,1233208,1333858,1394757,1465188,1530785,1583621,1623368,1647033,1738239,1888853,FL

In [39]:
#Reorder the columns
BEA_cross_df=BEA_cross_df[['LineCode', 'State', 'Description', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']]
BEA_cross_df.head(10)

,LineCode,State,Description,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
43,44,AL,Government Expenditures,197210,209690,220662,229060,249586,261420,270939,269117,282616,310347
89,44,AK,Government Expenditures,76803,84429,90094,97989,108667,114427,122910,119480,124424,139082
135,44,AZ,Government Expenditures,386583,426882,445864,475043,493474,516519,542143,541020,554363,592774
181,44,AR,Government Expenditures,145929,156430,161631,167361,171633,173445,177039,170515,173614,190570
227,44,CA,Government Expenditures,2779588,2790242,2817304,2802484,3017853,3222411,3331340,3248535,3367605,3654322
273,44,CO,Government Expenditures,568335,586706,607709,617820,685891,789345,887881,926516,953823,1034161
319,44,CT,Government Expenditures,139311,147599,154708,159055,154264,148680,145438,151814,160154,169307
365,44,DE,Government Expenditures,31547,34528,36660,38960,39413,39464,39769,41637,44148,48840
411,44,DC,Government Expenditures,211661,244185,245981,264285,287813,315441,343735,297370,290111,296823
457,44,FL,Government Expenditures,1233208,1333858,1394757,1465188,1530785,1583621,1623368,1647033,1738239,1888853

In [40]:
# Create the output file (CSV).
output_data_file = "BEA_data_for_cross_reference.csv"
# Export the data into a CSV.
BEA_cross_df.to_csv(output_data_file)