In [1]:
# Initial imports.
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
#Load data
ml_df=pd.read_csv('ml_data.csv')
ml_df.head()

,Unnamed: 0,state,date,max_temp,humidity,cloudiness,wind_speed,description,2012,2013,...,healh_care,cost_of_living,prop_to_income_ratio,traffic_comm_time,pollution,climate,city,latitude,longitude,high_q
0,0,HI,2023-03-02 01:23:39,74.30,92,40,14.97,Government Expenditures,143873.0,161946.0,...,72.5,103.0,9.2,41.3,37.3,95.3,Kahului,20.8947,-156.470,0
1,1,HI,2023-03-02 01:23:40,75.52,66,75,25.32,Government Expenditures,143873.0,161946.0,...,72.5,103.0,9.2,41.3,37.3,95.3,Kapaa,22.0752,-159.319,0
2,2,NE,2023-03-02 01:23:40,32.88,78,0,13.80,Government Expenditures,86848.0,96517.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Douglas,41.3000,-96.167,0
3,3,CA,2023-03-02 01:22:25,30.81,58,0,8.05,Government Expenditures,2779588.0,2790242.0,...,69.0,82.8,8.4,35.5,40.0,97.1,Susanville,40.4163,-120.653,1
4,9,HI,2023-03-02 01:23:41,71.11,90,89,5.01,Government Expenditures,143873.0,161946.0,...,72.5,103.0,9.2,41.3,37.3,95.3,Hilo,19.7297,-155.090,0

In [3]:
ml_df.dropna(subset=['qol_index'], inplace=True)

In [4]:
#Define the set of features
X=ml_df.copy()
X=X.drop(['Unnamed: 0', 'state', 'date', 'description', 'sum_passengers', 'city_rank','latitude', 'longitude','qol_index','city', 'high_q'], axis=1)
X.head()

,max_temp,humidity,cloudiness,wind_speed,2012,2013,2014,2015,2016,2017,...,2020,2021,purchase_power,safety,healh_care,cost_of_living,prop_to_income_ratio,traffic_comm_time,pollution,climate
0,74.30,92,40,14.97,143873.0,161946.0,169065.0,180610.0,184220.0,186628.0,...,188410.0,204287.0,75.4,52.4,72.5,103.0,9.2,41.3,37.3,95.3
1,75.52,66,75,25.32,143873.0,161946.0,169065.0,180610.0,184220.0,186628.0,...,188410.0,204287.0,75.4,52.4,72.5,103.0,9.2,41.3,37.3,95.3
3,30.81,58,0,8.05,2779588.0,2790242.0,2817304.0,2802484.0,3017853.0,3222411.0,...,3367605.0,3654322.0,114.2,59.6,69.0,82.8,8.4,35.5,40.0,97.1
4,71.11,90,89,5.01,143873.0,161946.0,169065.0,180610.0,184220.0,186628.0,...,188410.0,204287.0,75.4,52.4,72.5,103.0,9.2,41.3,37.3,95.3
5,26.11,54,100,25.32,76803.0,84429.0,90094.0,97989.0,108667.0,114427.0,...,124424.0,139082.0,112.1,38.1,61.2,85.8,2.5,26.8,15.7,41.6

In [5]:
#Define the target variable
y=ml_df['high_q'].values

y[:10]

array([0, 0, 1, 0, 0, 1, 1, 0, 0, 0], dtype=int64)

In [6]:
# Split Data Set for Training and Testing
X_train,X_test, y_train, y_test = train_test_split(X,y, random_state=78)

In [8]:
# Scale the data, create the instance
scaler = StandardScaler()

# Fit it with the training data
X_scaler = scaler.fit(X_train)

# Transform it
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
classifier = LogisticRegression(solver='lbfgs', random_state=1)
# Train the data
classifier.fit(X_train_scaled, y_train)

LogisticRegression(random_state=1)

In [15]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test_scaled)

In [16]:
# Calculate the accuracy score. 

acc_score = accuracy_score(y_test, predictions)
acc_score

0.9817351598173516

In [17]:
# Evaluate the model with the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame
cm_df = pd.DataFrame(
    cm, index = ["Actual 0", "Actual 1"], columns = ["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          118            2
Actual 1            2           97

In [18]:
# Display results
# Display all the results

print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score:\t\t {acc_score}")
print("\nClassification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          118            2
Actual 1            2           97

Accuracy Score:		 0.9817351598173516

Classification Report
              precision    recall  f1-score   support

           0       0.98      0.98      0.98       120
           1       0.98      0.98      0.98        99

    accuracy                           0.98       219
   macro avg       0.98      0.98      0.98       219
weighted avg       0.98      0.98      0.98       219