In [1]:
import pandas as pd

In [2]:
#Read in each of the csv files for merging

w_df=pd.read_csv('cities_weather_data_cleaned_us_only.csv')
b_df=pd.read_csv('BEA_data_for_cross_reference.csv')
i_df=pd.read_csv('inbound_data_for_cross_reference.csv')
q_df=pd.read_csv('qol_cleaned_us_only.csv')

In [3]:
#Left join to keep all the data, and we have to do it one at a time

merge_df=pd.merge(w_df, b_df, on='state', how='left')
merge_df=pd.merge(merge_df,i_df,on='state', how='left')
merge_df=pd.merge(merge_df,q_df, on='state', how='left')
merge_df.head()

,Unnamed: 0_x,city_x,state,country_x,date,latitude_x,longitude_x,max_temp,humidity,cloudiness,...,country_y,qol_index,purchase_power,safety,healh_care,cost_of_living,prop_to_income_ratio,traffic_comm_time,pollution,climate
0,0,Kahului,HI,US,2023-03-02 01:23:39,20.8947,-156.470,74.30,92,40,...,United States,152.2,75.4,52.4,72.5,103.0,9.2,41.3,37.3,95.3
1,1,Kapaa,HI,US,2023-03-02 01:23:40,22.0752,-159.319,75.52,66,75,...,United States,152.2,75.4,52.4,72.5,103.0,9.2,41.3,37.3,95.3
2,2,Douglas,NE,US,2023-03-02 01:23:40,41.3000,-96.167,32.88,78,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Susanville,CA,US,2023-03-02 01:22:25,40.4163,-120.653,30.81,58,0,...,United States,174.3,114.2,59.6,69.0,82.8,8.4,35.5,40.0,97.1
4,3,Susanville,CA,US,2023-03-02 01:22:25,40.4163,-120.653,30.81,58,0,...,United States,173.3,140.2,51.7,70.4,85.4,8.2,38.5,49.0,95.5

In [4]:
#Check columns
merge_df.columns

Index(['Unnamed: 0_x', 'city_x', 'state', 'country_x', 'date', 'latitude_x',
       'longitude_x', 'max_temp', 'humidity', 'cloudiness', 'wind_speed',
       'Unnamed: 0_y', 'description', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', 'Unnamed: 0', 'latitude_y',
       'longitude_y', 'sum_passengers', 'ID', 'city_rank', 'city_y',
       'country_y', 'qol_index', 'purchase_power', 'safety', 'healh_care',
       'cost_of_living', 'prop_to_income_ratio', 'traffic_comm_time',
       'pollution', 'climate'],
      dtype='object')

In [5]:
#Check the shape
merge_df.shape

(2512, 40)

In [6]:
#Collapse the city columns into one with the old 'fill then drop' technique.
merge_df['city']=merge_df['city_x'].fillna(merge_df['city_y'])
merge_df.drop(columns=['city_x', 'city_y'], inplace=True)
merge_df.head(10)

,Unnamed: 0_x,state,country_x,date,latitude_x,longitude_x,max_temp,humidity,cloudiness,wind_speed,...,qol_index,purchase_power,safety,healh_care,cost_of_living,prop_to_income_ratio,traffic_comm_time,pollution,climate,city
0,0,HI,US,2023-03-02 01:23:39,20.8947,-156.470,74.30,92,40,14.97,...,152.2,75.4,52.4,72.5,103.0,9.2,41.3,37.3,95.3,Kahului
1,1,HI,US,2023-03-02 01:23:40,22.0752,-159.319,75.52,66,75,25.32,...,152.2,75.4,52.4,72.5,103.0,9.2,41.3,37.3,95.3,Kapaa
2,2,NE,US,2023-03-02 01:23:40,41.3000,-96.167,32.88,78,0,13.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Douglas
3,3,CA,US,2023-03-02 01:22:25,40.4163,-120.653,30.81,58,0,8.05,...,174.3,114.2,59.6,69.0,82.8,8.4,35.5,40.0,97.1,Susanville
4,3,CA,US,2023-03-02 01:22:25,40.4163,-120.653,30.81,58,0,8.05,...,173.3,140.2,51.7,70.4,85.4,8.2,38.5,49.0,95.5,Susanville
5,3,CA,US,2023-03-02 01:22:25,40.4163,-120.653,30.81,58,0,8.05,...,169.7,114.6,50.6,68.4,84.7,6.1,27.0,46.5,90.6,Susanville
6,3,CA,US,2023-03-02 01:22:25,40.4163,-120.653,30.81,58,0,8.05,...,154.5,93.8,32.6,78.7,94.7,8.5,37.7,39.2,96.4,Susanville
7,3,CA,US,2023-03-02 01:22:25,40.4163,-120.653,30.81,58,0,8.05,...,142.3,106.5,38.6,64.0,99.3,8.7,50.9,50.3,97.3,Susanville
8,3,CA,US,2023-03-02 01:22:25,40.4163,-120.653,30.81,58,0,8.05,...,136.5,114.8,47.5,62.8,78.8,7.3,60.9,66.7,95.5,Susanville
9,4,HI,US,2023-03-02 01:23:41,19.7297,-155.090,71.11,90,89,5.01,...,152.2,75.4,52.4,72.5,103.0,9.2,41.3,37.3,95.3,Hilo

In [7]:
#Check in on the shape
merge_df.shape

(2512, 39)

In [8]:
#The old 'fill and drop' works for latitude and longitude as well

merge_df['latitude']=merge_df['latitude_x'].fillna(merge_df['latitude_y'])
merge_df.drop(columns=['latitude_x', 'latitude_y'], inplace=True)
merge_df['longitude']=merge_df['longitude_x'].fillna(merge_df['longitude_y'])
merge_df.drop(columns=['longitude_x', 'longitude_y'], inplace=True)
merge_df.head(10)

,Unnamed: 0_x,state,country_x,date,max_temp,humidity,cloudiness,wind_speed,Unnamed: 0_y,description,...,safety,healh_care,cost_of_living,prop_to_income_ratio,traffic_comm_time,pollution,climate,city,latitude,longitude
0,0,HI,US,2023-03-02 01:23:39,74.30,92,40,14.97,11.0,Government Expenditures,...,52.4,72.5,103.0,9.2,41.3,37.3,95.3,Kahului,20.8947,-156.470
1,1,HI,US,2023-03-02 01:23:40,75.52,66,75,25.32,11.0,Government Expenditures,...,52.4,72.5,103.0,9.2,41.3,37.3,95.3,Kapaa,22.0752,-159.319
2,2,NE,US,2023-03-02 01:23:40,32.88,78,0,13.80,27.0,Government Expenditures,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Douglas,41.3000,-96.167
3,3,CA,US,2023-03-02 01:22:25,30.81,58,0,8.05,4.0,Government Expenditures,...,59.6,69.0,82.8,8.4,35.5,40.0,97.1,Susanville,40.4163,-120.653
4,3,CA,US,2023-03-02 01:22:25,30.81,58,0,8.05,4.0,Government Expenditures,...,51.7,70.4,85.4,8.2,38.5,49.0,95.5,Susanville,40.4163,-120.653
5,3,CA,US,2023-03-02 01:22:25,30.81,58,0,8.05,4.0,Government Expenditures,...,50.6,68.4,84.7,6.1,27.0,46.5,90.6,Susanville,40.4163,-120.653
6,3,CA,US,2023-03-02 01:22:25,30.81,58,0,8.05,4.0,Government Expenditures,...,32.6,78.7,94.7,8.5,37.7,39.2,96.4,Susanville,40.4163,-120.653
7,3,CA,US,2023-03-02 01:22:25,30.81,58,0,8.05,4.0,Government Expenditures,...,38.6,64.0,99.3,8.7,50.9,50.3,97.3,Susanville,40.4163,-120.653
8,3,CA,US,2023-03-02 01:22:25,30.81,58,0,8.05,4.0,Government Expenditures,...,47.5,62.8,78.8,7.3,60.9,66.7,95.5,Susanville,40.4163,-120.653
9,4,HI,US,2023-03-02 01:23:41,71.11,90,89,5.01,11.0,Government Expenditures,...,52.4,72.5,103.0,9.2,41.3,37.3,95.3,Hilo,19.7297,-155.090

In [9]:
#It's shaping up
merge_df.shape

(2512, 37)

In [10]:
#Check the columns to see what can do
merge_df.columns

Index(['Unnamed: 0_x', 'state', 'country_x', 'date', 'max_temp', 'humidity',
       'cloudiness', 'wind_speed', 'Unnamed: 0_y', 'description', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Unnamed: 0', 'sum_passengers', 'ID', 'city_rank', 'country_y',
       'qol_index', 'purchase_power', 'safety', 'healh_care', 'cost_of_living',
       'prop_to_income_ratio', 'traffic_comm_time', 'pollution', 'climate',
       'city', 'latitude', 'longitude'],
      dtype='object')

In [11]:
#Get rid of some columns we don't need.
merge_df=merge_df.drop(columns=['Unnamed: 0_x', 'country_x', 'Unnamed: 0_y', 'Unnamed: 0', 'ID', 'country_y'])
merge_df.head(10)

,state,date,max_temp,humidity,cloudiness,wind_speed,description,2012,2013,2014,...,safety,healh_care,cost_of_living,prop_to_income_ratio,traffic_comm_time,pollution,climate,city,latitude,longitude
0,HI,2023-03-02 01:23:39,74.30,92,40,14.97,Government Expenditures,143873.0,161946.0,169065.0,...,52.4,72.5,103.0,9.2,41.3,37.3,95.3,Kahului,20.8947,-156.470
1,HI,2023-03-02 01:23:40,75.52,66,75,25.32,Government Expenditures,143873.0,161946.0,169065.0,...,52.4,72.5,103.0,9.2,41.3,37.3,95.3,Kapaa,22.0752,-159.319
2,NE,2023-03-02 01:23:40,32.88,78,0,13.80,Government Expenditures,86848.0,96517.0,102252.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Douglas,41.3000,-96.167
3,CA,2023-03-02 01:22:25,30.81,58,0,8.05,Government Expenditures,2779588.0,2790242.0,2817304.0,...,59.6,69.0,82.8,8.4,35.5,40.0,97.1,Susanville,40.4163,-120.653
4,CA,2023-03-02 01:22:25,30.81,58,0,8.05,Government Expenditures,2779588.0,2790242.0,2817304.0,...,51.7,70.4,85.4,8.2,38.5,49.0,95.5,Susanville,40.4163,-120.653
5,CA,2023-03-02 01:22:25,30.81,58,0,8.05,Government Expenditures,2779588.0,2790242.0,2817304.0,...,50.6,68.4,84.7,6.1,27.0,46.5,90.6,Susanville,40.4163,-120.653
6,CA,2023-03-02 01:22:25,30.81,58,0,8.05,Government Expenditures,2779588.0,2790242.0,2817304.0,...,32.6,78.7,94.7,8.5,37.7,39.2,96.4,Susanville,40.4163,-120.653
7,CA,2023-03-02 01:22:25,30.81,58,0,8.05,Government Expenditures,2779588.0,2790242.0,2817304.0,...,38.6,64.0,99.3,8.7,50.9,50.3,97.3,Susanville,40.4163,-120.653
8,CA,2023-03-02 01:22:25,30.81,58,0,8.05,Government Expenditures,2779588.0,2790242.0,2817304.0,...,47.5,62.8,78.8,7.3,60.9,66.7,95.5,Susanville,40.4163,-120.653
9,HI,2023-03-02 01:23:41,71.11,90,89,5.01,Government Expenditures,143873.0,161946.0,169065.0,...,52.4,72.5,103.0,9.2,41.3,37.3,95.3,Hilo,19.7297,-155.090

In [12]:
#Shaping up
merge_df.shape

(2512, 31)

In [14]:
merge_df.columns

Index(['state', 'date', 'max_temp', 'humidity', 'cloudiness', 'wind_speed',
       'description', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021', 'sum_passengers', 'city_rank', 'qol_index',
       'purchase_power', 'safety', 'healh_care', 'cost_of_living',
       'prop_to_income_ratio', 'traffic_comm_time', 'pollution', 'climate',
       'city', 'latitude', 'longitude'],
      dtype='object')

In [15]:
#Check to see how many cities don't have a qol index
print(merge_df['qol_index'].isnull().sum())

316

In [46]:
#Create the qol measure to determine what is 'high quality'.  totally subjective

qol_75=merge_df['qol_index'].quantile(0.69)

merge_df['high_q']=merge_df['qol_index'].apply(lambda x: 1 if x>=qol_75 else 0)

merge_df.head(10)

,state,date,max_temp,humidity,cloudiness,wind_speed,description,2012,2013,2014,...,healh_care,cost_of_living,prop_to_income_ratio,traffic_comm_time,pollution,climate,city,latitude,longitude,high_q
0,HI,2023-03-02 01:23:39,74.30,92,40,14.97,Government Expenditures,143873.0,161946.0,169065.0,...,72.5,103.0,9.2,41.3,37.3,95.3,Kahului,20.8947,-156.470,0
1,HI,2023-03-02 01:23:40,75.52,66,75,25.32,Government Expenditures,143873.0,161946.0,169065.0,...,72.5,103.0,9.2,41.3,37.3,95.3,Kapaa,22.0752,-159.319,0
2,NE,2023-03-02 01:23:40,32.88,78,0,13.80,Government Expenditures,86848.0,96517.0,102252.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Douglas,41.3000,-96.167,0
3,CA,2023-03-02 01:22:25,30.81,58,0,8.05,Government Expenditures,2779588.0,2790242.0,2817304.0,...,69.0,82.8,8.4,35.5,40.0,97.1,Susanville,40.4163,-120.653,1
4,CA,2023-03-02 01:22:25,30.81,58,0,8.05,Government Expenditures,2779588.0,2790242.0,2817304.0,...,70.4,85.4,8.2,38.5,49.0,95.5,Susanville,40.4163,-120.653,0
5,CA,2023-03-02 01:22:25,30.81,58,0,8.05,Government Expenditures,2779588.0,2790242.0,2817304.0,...,68.4,84.7,6.1,27.0,46.5,90.6,Susanville,40.4163,-120.653,0
6,CA,2023-03-02 01:22:25,30.81,58,0,8.05,Government Expenditures,2779588.0,2790242.0,2817304.0,...,78.7,94.7,8.5,37.7,39.2,96.4,Susanville,40.4163,-120.653,0
7,CA,2023-03-02 01:22:25,30.81,58,0,8.05,Government Expenditures,2779588.0,2790242.0,2817304.0,...,64.0,99.3,8.7,50.9,50.3,97.3,Susanville,40.4163,-120.653,0
8,CA,2023-03-02 01:22:25,30.81,58,0,8.05,Government Expenditures,2779588.0,2790242.0,2817304.0,...,62.8,78.8,7.3,60.9,66.7,95.5,Susanville,40.4163,-120.653,0
9,HI,2023-03-02 01:23:41,71.11,90,89,5.01,Government Expenditures,143873.0,161946.0,169065.0,...,72.5,103.0,9.2,41.3,37.3,95.3,Hilo,19.7297,-155.090,0

In [47]:
#Check to see how many high quality cities there are
sum(merge_df['high_q'])

735

In [49]:
# Drop duplicate cities
merge2_df=merge_df.drop_duplicates(subset=['city'])
merge2_df.shape

(1189, 32)

In [50]:
#Now, how many high quality cities based on the subjective quartile
sum(merge2_df['high_q'])

371

In [51]:
# Create the output file (CSV).
output_data_file = 'ml_data.csv'
# Export the data into a CSV.
merge2_df.to_csv(output_data_file)